@model ECart.Models.Category

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @{
        ViewBag.Title = "Create Category";
    }

    <div>
        <h2>ViewBag.Title</h2>
    </div>
    <div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                @Html.LabelFor(model => model.CategoryName)
                @Html.EditorFor(model => model.CategoryName)
                @Html.ValidationMessageFor(model => model.CategoryName)
            </div>

            <button type="submit" class="btn btn-primary">Create</button>
        }

    </div>
</body>
</html>
